### Pipeline to Transform Data

Assuming file is already present in notebooks folder

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import requests
from dotenv import load_dotenv
import os
from IPython.display import display
import re

In [3]:
df = pd.read_csv("Tyroo-dummy-data.csv", engine='pyarrow')

In [4]:
def print_bad_rows(df):
    col_names = set(df.columns.astype(str)) #get column names as strings

    mask = df.astype(str).isin(col_names) #convert all values to string (temporary) and check if they match any column name

    bad_row_indices = mask.any(axis=1) #identify rows with any such match

    bad_rows = df[bad_row_indices] #extract and count bad rows
    print(f"Found {bad_rows.shape[0]} suspicious rows.")
    display(bad_rows)
    return bad_row_indices

In [5]:
bad_row_indices = print_bad_rows(df)

Found 3 suspicious rows.

,platform_commission_rate,venture_category3_name_en,product_small_img,deeplink,availability,image_url_5,number_of_reviews,is_free_shipping,promotion_price,venture_category2_name_en,...,image_url_2,discount_percentage,seller_name,product_url,product_id,venture_category_name_local,rating_avg_value,product_big_img,image_url_3,price
5000,platform_commission_rate,venture_category3_name_en,product_small_img,deeplink,availability,image_url_5,number_of_reviews,is_free_shipping,promotion_price,venture_category2_name_en,...,image_url_2,discount_percentage,seller_name,product_url,product_id,venture_category_name_local,rating_avg_value,product_big_img,image_url_3,price
10001,platform_commission_rate,venture_category3_name_en,product_small_img,deeplink,availability,image_url_5,number_of_reviews,is_free_shipping,promotion_price,venture_category2_name_en,...,image_url_2,discount_percentage,seller_name,product_url,product_id,venture_category_name_local,rating_avg_value,product_big_img,image_url_3,price
15002,platform_commission_rate,venture_category3_name_en,product_small_img,deeplink,availability,image_url_5,number_of_reviews,is_free_shipping,promotion_price,venture_category2_name_en,...,image_url_2,discount_percentage,seller_name,product_url,product_id,venture_category_name_local,rating_avg_value,product_big_img,image_url_3,price

In [6]:
df = df[~bad_row_indices].reset_index(drop=True)

In [7]:
num_cols=[
    'platform_commission_rate', 'product_commission_rate', 
    'bonus_commission_rate', 'promotion_price', 'current_price', 
    'price', 'discount_percentage', 'number_of_reviews', 
    'rating_avg_value', 'seller_rating'
]

In [8]:
for col in num_cols:
    df[col] = pd.to_numeric(df[col], errors='coerce').fillna(0.0)

In [9]:
df['is_free_shipping'] = df['is_free_shipping'].fillna('0').astype(bool)
df['availability'] = df['availability'].fillna('out of stock')
df['availability'] = df['availability'].map({'in stock': True, 'out of stock': False})

In [10]:
image_cols = [col for col in df.columns if 'img' in col or 'image_url' in col]
df[image_cols] = df[image_cols].fillna('')

In [11]:
df['deeplink'] = df['deeplink'].fillna('')
df['product_url'] = df['product_url'].fillna('')
df['seller_url'] = df['seller_url'].fillna('')

In [12]:
text_cols = [
    'venture_category3_name_en', 'venture_category2_name_en', 'venture_category1_name_en',
    'venture_category_name_local', 'brand_name', 'business_type', 'business_area',
    'product_name', 'seller_name'
]

df[text_cols] = df[text_cols].fillna('Unknown')

In [13]:
df['description'] = df['description'].fillna(df['product_name'])

In [14]:
def clean_description(text, product_name):
    if pd.isna(text):
        return product_name  # Return product_name if description is NaN
    
    text = str(text).strip().lower()
    
    junk_patterns = [               # Known garbage patterns
        r'^(&nbsp;)+$',             # only non-breaking spaces
        r'^-+$',                    # dashes only
        r'^\.{1,2}$',               # just . or ..
        r'^welcome to my shop.*$',  # shop templates
        r'^www.*$',                 # website urls
        r'^$',                      # empty strings
        r'^No description currently*$',  #pattern
        r'^no description currently*$', #pattern
        r'^_*$',                    # underscore only
    ]
    
    for pattern in junk_patterns:
        if re.match(pattern, text):
            return product_name  # Return product_name instead of NaN

    text = re.sub(r'&[a-z]+;', '', text)    # Strip HTML entities like &nbsp;

    text = re.sub(r'\s{2,}', ' ', text)     # Remove excessive spaces or dots
    text = text.strip()
    
    if len(text) < 10:  # If after cleaning it's too short, return product_name
        return product_name
    
    return text

# Apply the function row-wise, passing both description and product_name
df['description'] = df.apply(lambda row: clean_description(row['description'], row['product_name']), axis=1)

In [15]:
new_df = df[["product_name", "description"]].copy()

In [16]:
def fast_clean(series):
    return (
        series
        .fillna('')                               # Handle NaNs
        .str.encode('ascii', errors='ignore')     # Remove non-ASCII
        .str.decode('ascii')                      # Decode back to str
        .str.replace(r'[^a-zA-Z0-9\s]', '', regex=True)  # Remove special chars
        .str.replace(r'\s+', ' ', regex=True)     # Normalize whitespace
        .str.strip()                              # Remove leading/trailing spaces
        .str.lower()                              # Optional: lowercase
    )

In [17]:
new_df['product_name'] = fast_clean(new_df['product_name'])
new_df['description'] = fast_clean(new_df['description'])

In [18]:
from sklearn.feature_extraction.text import HashingVectorizer

vectorizer = HashingVectorizer(
    stop_words='english',
    n_features=2**10,
    alternate_sign=False,
    norm='l2'                  # ensures vectors are normalized for cosine via dot product
)

# Transform columns
name_vecs = vectorizer.transform(new_df['product_name'])
desc_vecs = vectorizer.transform(new_df['description'])

similarities = (name_vecs.multiply(desc_vecs)).sum(axis=1).A1  # faster row-wise dot product

# Add similarity scores
new_df['similarity'] = similarities

new_df

,product_name,description,similarity
0,myvi viva side bumper clipair panelwiper panel...,myvi viva side bumper clipair panelwiper panel...,1.000000
1,buy one get oneolaplex no7 bonding oil 30ml an...,key benefitsrepairs damaged and compromised ha...,0.287476
2,70mai s500 rearview dashcam wide with night vi...,70mai s500 rearview dashcam wide with night vi...,1.000000
3,tissues paper disposable cleaning cloths wipe ...,size50pcsroll the patterns are randomizedthe c...,0.291730
4,natural aloe vera gel 300g containing plant es...,natural aloe vera gel 300g containing plant es...,1.000000
...,...,...,...
999995,maylee 2 in 1 single fitted bedsheet set cadar...,what is inside this 2pcs set 1 pc of fitted be...,0.308697
999996,bullcaptain genuine leather mens wallet high q...,material cowhide made from the first layer of ...,0.303466
999997,ladies korean style loose long sleeve shirt top,style sweet and freshcollege clothing style de...,0.242091
999998,deli multi functional tools bag waist pouch be...,deli multi functional tools bag waist pouch be...,1.000000
999999,dress women korean style flower printed temper...,style simple commuting simple popular elements...,0.186052

In [19]:
new_df.loc[new_df['similarity'] == 0.0, 'description'] = new_df.loc[new_df['similarity'] == 0.0, 'product_name']

In [20]:
df['product_name'] = new_df['product_name']
df['description'] = new_df['description']

In [21]:
df.to_csv('transformed_data.csv', index=False)

-------------------------------

In [ ]:
import pandas as pd
import numpy as np
import re
import os
import swifter
from sklearn.feature_extraction.text import HashingVectorizer
from IPython.display import display

# 1. Chunked CSV Reading
chunk_size = 50000
# chunks = pd.read_csv("Tyroo-dummy-data.csv", engine='pyarrow')
chunks = pd.read_csv("Tyroo-dummy-data.csv", chunksize=chunk_size)

def print_bad_rows(df):
    col_names = set(df.columns.astype(str))
    mask = df.astype(str).isin(col_names)
    bad_row_indices = mask.any(axis=1)
    bad_rows = df[bad_row_indices]
    print(f"Found {bad_rows.shape[0]} suspicious rows.")
    display(bad_rows)
    return bad_row_indices

# Process chunks and clean
df_list = []
for chunk in chunks:
    bad_row_indices = print_bad_rows(chunk)
    chunk = chunk[~bad_row_indices].reset_index(drop=True)
    df_list.append(chunk)

df = pd.concat(df_list, ignore_index=True)


# 2. Basic Data Cleanup
num_cols = [
    'platform_commission_rate', 'product_commission_rate',
    'bonus_commission_rate', 'promotion_price', 'current_price',
    'price', 'discount_percentage', 'number_of_reviews',
    'rating_avg_value', 'seller_rating'
]

df[num_cols] = df[num_cols].apply(pd.to_numeric, errors='coerce').fillna(0.0)

text_cols = [
    'venture_category3_name_en', 'venture_category2_name_en', 'venture_category1_name_en',
    'venture_category_name_local', 'brand_name', 'business_type', 'business_area',
    'product_name', 'seller_name'
]

df.fillna({
    'is_free_shipping': '0',
    'availability': 'out of stock',
    'deeplink': '',
    'product_url': '',
    'seller_url': '',
    'description': np.nan,
    **{col: 'Unknown' for col in text_cols}
}, inplace=True)

df['is_free_shipping'] = df['is_free_shipping'].astype(bool)
df['availability'] = df['availability'].map({'in stock': True, 'out of stock': False})

image_cols = [col for col in df.columns if 'img' in col or 'image_url' in col]
df[image_cols] = df[image_cols].fillna('')

df['description'] = df['description'].fillna(df['product_name'])


# 3. Clean Description
junk_patterns = [
    r'^(&nbsp;)+$', r'^-+$', r'^\.{1,2}$', r'^welcome to my shop.*$', r'^www.*$',
    r'^$', r'^No description currently*$', r'^no description currently*$', r'^_*$'
]
compiled_patterns = [re.compile(pat) for pat in junk_patterns]

def clean_description(text, product_name):
    if pd.isna(text):
        return product_name
    text = str(text).strip().lower()
    if any(p.match(text) for p in compiled_patterns):
        return product_name
    text = re.sub(r'&[a-z]+;', '', text)
    text = re.sub(r'\s{2,}', ' ', text).strip()
    if len(text) < 10:
        return product_name
    return text

df['description'] = df.swifter.apply(
    lambda row: clean_description(row['description'], row['product_name']),
    axis=1
)


# 4. Text Normalization
def fast_clean(series):
    return (
        series.fillna('')
              .str.encode('ascii', errors='ignore').str.decode('ascii')
              .str.replace(r'[^a-zA-Z0-9\s]', '', regex=True)
              .str.replace(r'\s+', ' ', regex=True)
              .str.strip()
              .str.lower()
    )

df['product_name'] = fast_clean(df['product_name'])
df['description'] = fast_clean(df['description'])


# 5. Vectorize and Compare
vectorizer = HashingVectorizer(
    stop_words='english',
    n_features=2**10,
    alternate_sign=False,
    norm='l2'
)

name_vecs = vectorizer.transform(df['product_name'])
desc_vecs = vectorizer.transform(df['description'])

# Dot product row-wise
similarities = (name_vecs.multiply(desc_vecs)).sum(axis=1).A1

# Update description if similarity is zero
df['similarity'] = similarities
df.loc[df['similarity'] == 0.0, 'description'] = df.loc[df['similarity'] == 0.0, 'product_name']

# Drop similarity column
df.drop(columns=['similarity'], inplace=True)

# 6. Save Output
df.to_csv('transformed_data.csv', index=False)
print("✅ Data transformation complete and saved to 'transformed_data.csv'")

C:\Users\akshaysrivastava\AppData\Local\Temp\ipykernel_14180\2508587511.py:27: DtypeWarning: Columns (0,6,7,8,10,17,19,20,21,25,28,30,33) have mixed types. Specify dtype option on import or set low_memory=False.
  for chunk in chunks:

Found 3 suspicious rows.

,platform_commission_rate,venture_category3_name_en,product_small_img,deeplink,availability,image_url_5,number_of_reviews,is_free_shipping,promotion_price,venture_category2_name_en,...,image_url_2,discount_percentage,seller_name,product_url,product_id,venture_category_name_local,rating_avg_value,product_big_img,image_url_3,price
5000,platform_commission_rate,venture_category3_name_en,product_small_img,deeplink,availability,image_url_5,number_of_reviews,is_free_shipping,promotion_price,venture_category2_name_en,...,image_url_2,discount_percentage,seller_name,product_url,product_id,venture_category_name_local,rating_avg_value,product_big_img,image_url_3,price
10001,platform_commission_rate,venture_category3_name_en,product_small_img,deeplink,availability,image_url_5,number_of_reviews,is_free_shipping,promotion_price,venture_category2_name_en,...,image_url_2,discount_percentage,seller_name,product_url,product_id,venture_category_name_local,rating_avg_value,product_big_img,image_url_3,price
15002,platform_commission_rate,venture_category3_name_en,product_small_img,deeplink,availability,image_url_5,number_of_reviews,is_free_shipping,promotion_price,venture_category2_name_en,...,image_url_2,discount_percentage,seller_name,product_url,product_id,venture_category_name_local,rating_avg_value,product_big_img,image_url_3,price

Found 0 suspicious rows.

Empty DataFrame
Columns: [platform_commission_rate, venture_category3_name_en, product_small_img, deeplink, availability, image_url_5, number_of_reviews, is_free_shipping, promotion_price, venture_category2_name_en, current_price, product_medium_img, venture_category1_name_en, brand_name, image_url_4, description, seller_url, product_commission_rate, product_name, sku_id, seller_rating, bonus_commission_rate, business_type, business_area, image_url_2, discount_percentage, seller_name, product_url, product_id, venture_category_name_local, rating_avg_value, product_big_img, image_url_3, price]
Index: []

[0 rows x 34 columns]

Found 0 suspicious rows.

Empty DataFrame
Columns: [platform_commission_rate, venture_category3_name_en, product_small_img, deeplink, availability, image_url_5, number_of_reviews, is_free_shipping, promotion_price, venture_category2_name_en, current_price, product_medium_img, venture_category1_name_en, brand_name, image_url_4, description, seller_url, product_commission_rate, product_name, sku_id, seller_rating, bonus_commission_rate, business_type, business_area, image_url_2, discount_percentage, seller_name, product_url, product_id, venture_category_name_local, rating_avg_value, product_big_img, image_url_3, price]
Index: []

[0 rows x 34 columns]

Found 0 suspicious rows.

Empty DataFrame
Columns: [platform_commission_rate, venture_category3_name_en, product_small_img, deeplink, availability, image_url_5, number_of_reviews, is_free_shipping, promotion_price, venture_category2_name_en, current_price, product_medium_img, venture_category1_name_en, brand_name, image_url_4, description, seller_url, product_commission_rate, product_name, sku_id, seller_rating, bonus_commission_rate, business_type, business_area, image_url_2, discount_percentage, seller_name, product_url, product_id, venture_category_name_local, rating_avg_value, product_big_img, image_url_3, price]
Index: []

[0 rows x 34 columns]

Found 0 suspicious rows.

Empty DataFrame
Columns: [platform_commission_rate, venture_category3_name_en, product_small_img, deeplink, availability, image_url_5, number_of_reviews, is_free_shipping, promotion_price, venture_category2_name_en, current_price, product_medium_img, venture_category1_name_en, brand_name, image_url_4, description, seller_url, product_commission_rate, product_name, sku_id, seller_rating, bonus_commission_rate, business_type, business_area, image_url_2, discount_percentage, seller_name, product_url, product_id, venture_category_name_local, rating_avg_value, product_big_img, image_url_3, price]
Index: []

[0 rows x 34 columns]

Found 0 suspicious rows.

Empty DataFrame
Columns: [platform_commission_rate, venture_category3_name_en, product_small_img, deeplink, availability, image_url_5, number_of_reviews, is_free_shipping, promotion_price, venture_category2_name_en, current_price, product_medium_img, venture_category1_name_en, brand_name, image_url_4, description, seller_url, product_commission_rate, product_name, sku_id, seller_rating, bonus_commission_rate, business_type, business_area, image_url_2, discount_percentage, seller_name, product_url, product_id, venture_category_name_local, rating_avg_value, product_big_img, image_url_3, price]
Index: []

[0 rows x 34 columns]

Found 0 suspicious rows.

Empty DataFrame
Columns: [platform_commission_rate, venture_category3_name_en, product_small_img, deeplink, availability, image_url_5, number_of_reviews, is_free_shipping, promotion_price, venture_category2_name_en, current_price, product_medium_img, venture_category1_name_en, brand_name, image_url_4, description, seller_url, product_commission_rate, product_name, sku_id, seller_rating, bonus_commission_rate, business_type, business_area, image_url_2, discount_percentage, seller_name, product_url, product_id, venture_category_name_local, rating_avg_value, product_big_img, image_url_3, price]
Index: []

[0 rows x 34 columns]

Found 0 suspicious rows.

Empty DataFrame
Columns: [platform_commission_rate, venture_category3_name_en, product_small_img, deeplink, availability, image_url_5, number_of_reviews, is_free_shipping, promotion_price, venture_category2_name_en, current_price, product_medium_img, venture_category1_name_en, brand_name, image_url_4, description, seller_url, product_commission_rate, product_name, sku_id, seller_rating, bonus_commission_rate, business_type, business_area, image_url_2, discount_percentage, seller_name, product_url, product_id, venture_category_name_local, rating_avg_value, product_big_img, image_url_3, price]
Index: []

[0 rows x 34 columns]

Found 0 suspicious rows.

Empty DataFrame
Columns: [platform_commission_rate, venture_category3_name_en, product_small_img, deeplink, availability, image_url_5, number_of_reviews, is_free_shipping, promotion_price, venture_category2_name_en, current_price, product_medium_img, venture_category1_name_en, brand_name, image_url_4, description, seller_url, product_commission_rate, product_name, sku_id, seller_rating, bonus_commission_rate, business_type, business_area, image_url_2, discount_percentage, seller_name, product_url, product_id, venture_category_name_local, rating_avg_value, product_big_img, image_url_3, price]
Index: []

[0 rows x 34 columns]

Found 0 suspicious rows.

Empty DataFrame
Columns: [platform_commission_rate, venture_category3_name_en, product_small_img, deeplink, availability, image_url_5, number_of_reviews, is_free_shipping, promotion_price, venture_category2_name_en, current_price, product_medium_img, venture_category1_name_en, brand_name, image_url_4, description, seller_url, product_commission_rate, product_name, sku_id, seller_rating, bonus_commission_rate, business_type, business_area, image_url_2, discount_percentage, seller_name, product_url, product_id, venture_category_name_local, rating_avg_value, product_big_img, image_url_3, price]
Index: []

[0 rows x 34 columns]

Found 0 suspicious rows.

Empty DataFrame
Columns: [platform_commission_rate, venture_category3_name_en, product_small_img, deeplink, availability, image_url_5, number_of_reviews, is_free_shipping, promotion_price, venture_category2_name_en, current_price, product_medium_img, venture_category1_name_en, brand_name, image_url_4, description, seller_url, product_commission_rate, product_name, sku_id, seller_rating, bonus_commission_rate, business_type, business_area, image_url_2, discount_percentage, seller_name, product_url, product_id, venture_category_name_local, rating_avg_value, product_big_img, image_url_3, price]
Index: []

[0 rows x 34 columns]

Found 0 suspicious rows.

Empty DataFrame
Columns: [platform_commission_rate, venture_category3_name_en, product_small_img, deeplink, availability, image_url_5, number_of_reviews, is_free_shipping, promotion_price, venture_category2_name_en, current_price, product_medium_img, venture_category1_name_en, brand_name, image_url_4, description, seller_url, product_commission_rate, product_name, sku_id, seller_rating, bonus_commission_rate, business_type, business_area, image_url_2, discount_percentage, seller_name, product_url, product_id, venture_category_name_local, rating_avg_value, product_big_img, image_url_3, price]
Index: []

[0 rows x 34 columns]

Found 0 suspicious rows.

Empty DataFrame
Columns: [platform_commission_rate, venture_category3_name_en, product_small_img, deeplink, availability, image_url_5, number_of_reviews, is_free_shipping, promotion_price, venture_category2_name_en, current_price, product_medium_img, venture_category1_name_en, brand_name, image_url_4, description, seller_url, product_commission_rate, product_name, sku_id, seller_rating, bonus_commission_rate, business_type, business_area, image_url_2, discount_percentage, seller_name, product_url, product_id, venture_category_name_local, rating_avg_value, product_big_img, image_url_3, price]
Index: []

[0 rows x 34 columns]

Found 0 suspicious rows.

Empty DataFrame
Columns: [platform_commission_rate, venture_category3_name_en, product_small_img, deeplink, availability, image_url_5, number_of_reviews, is_free_shipping, promotion_price, venture_category2_name_en, current_price, product_medium_img, venture_category1_name_en, brand_name, image_url_4, description, seller_url, product_commission_rate, product_name, sku_id, seller_rating, bonus_commission_rate, business_type, business_area, image_url_2, discount_percentage, seller_name, product_url, product_id, venture_category_name_local, rating_avg_value, product_big_img, image_url_3, price]
Index: []

[0 rows x 34 columns]

Found 0 suspicious rows.

Empty DataFrame
Columns: [platform_commission_rate, venture_category3_name_en, product_small_img, deeplink, availability, image_url_5, number_of_reviews, is_free_shipping, promotion_price, venture_category2_name_en, current_price, product_medium_img, venture_category1_name_en, brand_name, image_url_4, description, seller_url, product_commission_rate, product_name, sku_id, seller_rating, bonus_commission_rate, business_type, business_area, image_url_2, discount_percentage, seller_name, product_url, product_id, venture_category_name_local, rating_avg_value, product_big_img, image_url_3, price]
Index: []

[0 rows x 34 columns]

Found 0 suspicious rows.

Empty DataFrame
Columns: [platform_commission_rate, venture_category3_name_en, product_small_img, deeplink, availability, image_url_5, number_of_reviews, is_free_shipping, promotion_price, venture_category2_name_en, current_price, product_medium_img, venture_category1_name_en, brand_name, image_url_4, description, seller_url, product_commission_rate, product_name, sku_id, seller_rating, bonus_commission_rate, business_type, business_area, image_url_2, discount_percentage, seller_name, product_url, product_id, venture_category_name_local, rating_avg_value, product_big_img, image_url_3, price]
Index: []

[0 rows x 34 columns]

Found 0 suspicious rows.

Empty DataFrame
Columns: [platform_commission_rate, venture_category3_name_en, product_small_img, deeplink, availability, image_url_5, number_of_reviews, is_free_shipping, promotion_price, venture_category2_name_en, current_price, product_medium_img, venture_category1_name_en, brand_name, image_url_4, description, seller_url, product_commission_rate, product_name, sku_id, seller_rating, bonus_commission_rate, business_type, business_area, image_url_2, discount_percentage, seller_name, product_url, product_id, venture_category_name_local, rating_avg_value, product_big_img, image_url_3, price]
Index: []

[0 rows x 34 columns]

Found 0 suspicious rows.

Empty DataFrame
Columns: [platform_commission_rate, venture_category3_name_en, product_small_img, deeplink, availability, image_url_5, number_of_reviews, is_free_shipping, promotion_price, venture_category2_name_en, current_price, product_medium_img, venture_category1_name_en, brand_name, image_url_4, description, seller_url, product_commission_rate, product_name, sku_id, seller_rating, bonus_commission_rate, business_type, business_area, image_url_2, discount_percentage, seller_name, product_url, product_id, venture_category_name_local, rating_avg_value, product_big_img, image_url_3, price]
Index: []

[0 rows x 34 columns]

Found 0 suspicious rows.

Empty DataFrame
Columns: [platform_commission_rate, venture_category3_name_en, product_small_img, deeplink, availability, image_url_5, number_of_reviews, is_free_shipping, promotion_price, venture_category2_name_en, current_price, product_medium_img, venture_category1_name_en, brand_name, image_url_4, description, seller_url, product_commission_rate, product_name, sku_id, seller_rating, bonus_commission_rate, business_type, business_area, image_url_2, discount_percentage, seller_name, product_url, product_id, venture_category_name_local, rating_avg_value, product_big_img, image_url_3, price]
Index: []

[0 rows x 34 columns]

Found 0 suspicious rows.

Empty DataFrame
Columns: [platform_commission_rate, venture_category3_name_en, product_small_img, deeplink, availability, image_url_5, number_of_reviews, is_free_shipping, promotion_price, venture_category2_name_en, current_price, product_medium_img, venture_category1_name_en, brand_name, image_url_4, description, seller_url, product_commission_rate, product_name, sku_id, seller_rating, bonus_commission_rate, business_type, business_area, image_url_2, discount_percentage, seller_name, product_url, product_id, venture_category_name_local, rating_avg_value, product_big_img, image_url_3, price]
Index: []

[0 rows x 34 columns]

Found 0 suspicious rows.

Empty DataFrame
Columns: [platform_commission_rate, venture_category3_name_en, product_small_img, deeplink, availability, image_url_5, number_of_reviews, is_free_shipping, promotion_price, venture_category2_name_en, current_price, product_medium_img, venture_category1_name_en, brand_name, image_url_4, description, seller_url, product_commission_rate, product_name, sku_id, seller_rating, bonus_commission_rate, business_type, business_area, image_url_2, discount_percentage, seller_name, product_url, product_id, venture_category_name_local, rating_avg_value, product_big_img, image_url_3, price]
Index: []

[0 rows x 34 columns]

Pandas Apply: 100%|██████████| 1000000/1000000 [00:33<00:00, 29732.31it/s]

✅ Data transformation complete and saved to 'transformed_data.csv'

In [ ]:
import pandas as pd
import numpy as np
import re
import os
import swifter
from sklearn.feature_extraction.text import HashingVectorizer
from IPython.display import display


# 1. Chunked CSV Reading

chunk_size = 50000
# chunks = pd.read_csv("Tyroo-dummy-data.csv", engine='pyarrow')
chunks = pd.read_csv("Tyroo-dummy-data.csv", chunksize=chunk_size)

def print_bad_rows(df):
    col_names = set(df.columns.astype(str))
    mask = df.astype(str).isin(col_names)
    bad_row_indices = mask.any(axis=1)
    bad_rows = df[bad_row_indices]
    print(f"Found {bad_rows.shape[0]} suspicious rows.")
    display(bad_rows)
    return bad_row_indices

# Process chunks and clean
df_list = []
for chunk in chunks:
    bad_row_indices = print_bad_rows(chunk)
    chunk = chunk[~bad_row_indices].reset_index(drop=True)
    df_list.append(chunk)

df = pd.concat(df_list, ignore_index=True)


# 2. Basic Data Cleanup

num_cols = [
    'platform_commission_rate', 'product_commission_rate',
    'bonus_commission_rate', 'promotion_price', 'current_price',
    'price', 'discount_percentage', 'number_of_reviews',
    'rating_avg_value', 'seller_rating'
]

df[num_cols] = df[num_cols].apply(pd.to_numeric, errors='coerce').fillna(0.0)

text_cols = [
    'venture_category3_name_en', 'venture_category2_name_en', 'venture_category1_name_en',
    'venture_category_name_local', 'brand_name', 'business_type', 'business_area',
    'product_name', 'seller_name'
]

df.fillna({
    'is_free_shipping': '0',
    'availability': 'out of stock',
    'deeplink': '',
    'product_url': '',
    'seller_url': '',
    'description': np.nan,
    **{col: 'Unknown' for col in text_cols}
}, inplace=True)

df['is_free_shipping'] = df['is_free_shipping'].astype(bool)
df['availability'] = df['availability'].map({'in stock': True, 'out of stock': False})

image_cols = [col for col in df.columns if 'img' in col or 'image_url' in col]
df[image_cols] = df[image_cols].fillna('')

df['description'] = df['description'].fillna(df['product_name'])


# 3. Clean Description

junk_patterns = [
    r'^(&nbsp;)+$', r'^-+$', r'^\.{1,2}$', r'^welcome to my shop.*$', r'^www.*$',
    r'^$', r'^No description currently*$', r'^no description currently*$', r'^_*$'
]
compiled_patterns = [re.compile(pat) for pat in junk_patterns]

def clean_description(text, product_name):
    if pd.isna(text):
        return product_name
    text = str(text).strip().lower()
    if any(p.match(text) for p in compiled_patterns):
        return product_name
    text = re.sub(r'&[a-z]+;', '', text)
    text = re.sub(r'\s{2,}', ' ', text).strip()
    if len(text) < 10:
        return product_name
    return text

df['description'] = df.swifter.apply(
    lambda row: clean_description(row['description'], row['product_name']),
    axis=1
)


# 4. Text Normalization

def fast_clean(series):
    return (
        series.fillna('')
              .str.encode('ascii', errors='ignore').str.decode('ascii')
              .str.replace(r'[^a-zA-Z0-9\s]', '', regex=True)
              .str.replace(r'\s+', ' ', regex=True)
              .str.strip()
              .str.lower()
    )

df['product_name'] = fast_clean(df['product_name'])
df['description'] = fast_clean(df['description'])


# 5. Vectorize and Compare

vectorizer = HashingVectorizer(
    stop_words='english',
    n_features=2**10,
    alternate_sign=False,
    norm='l2'
)

name_vecs = vectorizer.transform(df['product_name'])
desc_vecs = vectorizer.transform(df['description'])

# Dot product row-wise
similarities = (name_vecs.multiply(desc_vecs)).sum(axis=1).A1

# Update description if similarity is zero
df['similarity'] = similarities
df.loc[df['similarity'] == 0.0, 'description'] = df.loc[df['similarity'] == 0.0, 'product_name']

# Drop similarity column
df.drop(columns=['similarity'], inplace=True)


# 6. Save Output

df.to_csv('transformed_data.csv', index=False)
print("✅ Data transformation complete and saved to 'transformed_data.csv'")

In [ ]:
import pandas as pd
import numpy as np
import re
import os
import multiprocessing
from sklearn.feature_extraction.text import HashingVectorizer


# 1. Chunked CSV Reading

chunk_size = 50000
chunks = pd.read_csv("Tyroo-dummy-data.csv", chunksize=chunk_size)

def print_bad_rows(df):
    col_names = set(df.columns.astype(str))
    mask = df.astype(str).isin(col_names)
    bad_row_indices = mask.any(axis=1)
    print(f"Found {bad_row_indices.sum()} suspicious rows.")
    return bad_row_indices

df_list = []
for chunk in chunks:
    bad_row_indices = print_bad_rows(chunk)
    chunk = chunk[~bad_row_indices].reset_index(drop=True)
    df_list.append(chunk)

df = pd.concat(df_list, ignore_index=True)


# 2. Basic Data Cleanup

num_cols = [
    'platform_commission_rate', 'product_commission_rate',
    'bonus_commission_rate', 'promotion_price', 'current_price',
    'price', 'discount_percentage', 'number_of_reviews',
    'rating_avg_value', 'seller_rating'
]

df[num_cols] = df[num_cols].apply(pd.to_numeric, errors='coerce').fillna(0.0)

text_cols = [
    'venture_category3_name_en', 'venture_category2_name_en', 'venture_category1_name_en',
    'venture_category_name_local', 'brand_name', 'business_type', 'business_area',
    'product_name', 'seller_name'
]

df.fillna({
    'is_free_shipping': '0',
    'availability': 'out of stock',
    'deeplink': '',
    'product_url': '',
    'seller_url': '',
    'description': np.nan,
    **{col: 'Unknown' for col in text_cols}
}, inplace=True)

df['is_free_shipping'] = df['is_free_shipping'].astype(bool)
df['availability'] = df['availability'].map({'in stock': True, 'out of stock': False})

image_cols = [col for col in df.columns if 'img' in col or 'image_url' in col]
df[image_cols] = df[image_cols].fillna('')

df['description'] = df['description'].fillna(df['product_name'])


# 3. Clean Description in Parallel

junk_patterns = [
    r'^(&nbsp;)+$', r'^-+$', r'^\.{1,2}$', r'^welcome to my shop.*$', r'^www.*$',
    r'^$', r'^No description currently*$', r'^no description currently*$', r'^_*$'
]
compiled_patterns = [re.compile(pat) for pat in junk_patterns]

def clean_single_desc(args):
    desc, product_name = args
    if pd.isna(desc):
        return product_name
    text = str(desc).strip().lower()
    if any(p.match(text) for p in compiled_patterns):
        return product_name
    text = re.sub(r'&[a-z]+;', '', text)
    text = re.sub(r'\s{2,}', ' ', text).strip()
    if len(text) < 10:
        return product_name
    return text

# Run in parallel using multiprocessing
with multiprocessing.Pool() as pool:
    cleaned_descriptions = pool.map(
        clean_single_desc,
        zip(df['description'], df['product_name'])
    )

df['description'] = cleaned_descriptions


# 4. Text Normalization

def fast_clean(series):
    return (
        series.fillna('')
              .str.encode('ascii', errors='ignore').str.decode('ascii')
              .str.replace(r'[^a-zA-Z0-9\s]', '', regex=True)
              .str.replace(r'\s+', ' ', regex=True)
              .str.strip()
              .str.lower()
    )

df['product_name'] = fast_clean(df['product_name'])
df['description'] = fast_clean(df['description'])


# 5. Vectorize and Compare

vectorizer = HashingVectorizer(
    stop_words='english',
    n_features=2**10,
    alternate_sign=False,
    norm='l2'
)

name_vecs = vectorizer.transform(df['product_name'])
desc_vecs = vectorizer.transform(df['description'])

similarities = (name_vecs.multiply(desc_vecs)).sum(axis=1).A1

df['similarity'] = similarities
df.loc[df['similarity'] == 0.0, 'description'] = df.loc[df['similarity'] == 0.0, 'product_name']
df.drop(columns=['similarity'], inplace=True)


# 6. Save Output

df.to_csv('transformed_data.csv', index=False)
print("✅ Data transformation complete and saved to 'transformed_data.csv'")

C:\Users\akshaysrivastava\AppData\Local\Temp\ipykernel_9372\3241897805.py:22: DtypeWarning: Columns (0,6,7,8,10,17,19,20,21,25,28,30,33) have mixed types. Specify dtype option on import or set low_memory=False.
  for chunk in chunks:

Found 3 suspicious rows.
Found 0 suspicious rows.
Found 0 suspicious rows.
Found 0 suspicious rows.
Found 0 suspicious rows.
Found 0 suspicious rows.
Found 0 suspicious rows.
Found 0 suspicious rows.
Found 0 suspicious rows.
Found 0 suspicious rows.
Found 0 suspicious rows.
Found 0 suspicious rows.
Found 0 suspicious rows.
Found 0 suspicious rows.
Found 0 suspicious rows.
Found 0 suspicious rows.
Found 0 suspicious rows.
Found 0 suspicious rows.
Found 0 suspicious rows.
Found 0 suspicious rows.
Found 0 suspicious rows.

In [ ]:
import pandas as pd
import numpy as np
import re
import os
import multiprocessing
import logging
import time
from sklearn.feature_extraction.text import HashingVectorizer


# Logging Configuration

logging.basicConfig(
    level=logging.INFO,
    format='[%(asctime)s] %(levelname)s: %(message)s',
    datefmt='%H:%M:%S'
)

def log_time(msg, start_time):
    elapsed = time.time() - start_time
    logging.info(f"{msg} — completed in {elapsed:.2f} seconds")


# 1. Chunked CSV Reading

start = time.time()
logging.info("🔍 Reading CSV in chunks...")
chunk_size = 50000
chunks = pd.read_csv("Tyroo-dummy-data.csv", chunksize=chunk_size)

def print_bad_rows(df):
    col_names = set(df.columns.astype(str))
    mask = df.astype(str).isin(col_names)
    bad_row_indices = mask.any(axis=1)
    logging.info(f"⚠️  Found {bad_row_indices.sum()} suspicious rows.")
    return bad_row_indices

df_list = []
for i, chunk in enumerate(chunks):
    logging.info(f"📦 Processing chunk {i + 1}")
    bad_row_indices = print_bad_rows(chunk)
    chunk = chunk[~bad_row_indices].reset_index(drop=True)
    df_list.append(chunk)

df = pd.concat(df_list, ignore_index=True)
log_time("✅ CSV loading and filtering", start)


# 2. Basic Data Cleanup

start = time.time()
logging.info("🧹 Starting basic cleanup...")

num_cols = [
    'platform_commission_rate', 'product_commission_rate',
    'bonus_commission_rate', 'promotion_price', 'current_price',
    'price', 'discount_percentage', 'number_of_reviews',
    'rating_avg_value', 'seller_rating'
]

df[num_cols] = df[num_cols].apply(pd.to_numeric, errors='coerce').fillna(0.0)

text_cols = [
    'venture_category3_name_en', 'venture_category2_name_en', 'venture_category1_name_en',
    'venture_category_name_local', 'brand_name', 'business_type', 'business_area',
    'product_name', 'seller_name'
]

df.fillna({
    'is_free_shipping': '0',
    'availability': 'out of stock',
    'deeplink': '',
    'product_url': '',
    'seller_url': '',
    'description': np.nan,
    **{col: 'Unknown' for col in text_cols}
}, inplace=True)

df['is_free_shipping'] = df['is_free_shipping'].astype(bool)
df['availability'] = df['availability'].map({'in stock': True, 'out of stock': False})

image_cols = [col for col in df.columns if 'img' in col or 'image_url' in col]
df[image_cols] = df[image_cols].fillna('')
df['description'] = df['description'].fillna(df['product_name'])

log_time("✅ Basic cleanup", start)


# 3. Clean Description in Parallel

start = time.time()
logging.info("🧼 Cleaning descriptions in parallel...")

junk_patterns = [
    r'^(&nbsp;)+$', r'^-+$', r'^\.{1,2}$', r'^welcome to my shop.*$', r'^www.*$',
    r'^$', r'^No description currently*$', r'^no description currently*$', r'^_*$'
]
compiled_patterns = [re.compile(pat) for pat in junk_patterns]

def clean_single_desc(args):
    desc, product_name = args
    if pd.isna(desc):
        return product_name
    text = str(desc).strip().lower()
    if any(p.match(text) for p in compiled_patterns):
        return product_name
    text = re.sub(r'&[a-z]+;', '', text)
    text = re.sub(r'\s{2,}', ' ', text).strip()
    if len(text) < 10:
        return product_name
    return text

import swifter

df['description'] = df.swifter.apply(
    lambda row: clean_single_desc((row['description'], row['product_name'])),
    axis=1
)

log_time("✅ Description cleaning", start)


# 4. Text Normalization

start = time.time()
logging.info("🔠 Normalizing text fields...")

def fast_clean(series):
    return (
        series.fillna('')
              .str.encode('ascii', errors='ignore').str.decode('ascii')
              .str.replace(r'[^a-zA-Z0-9\s]', '', regex=True)
              .str.replace(r'\s+', ' ', regex=True)
              .str.strip()
              .str.lower()
    )

df['product_name'] = fast_clean(df['product_name'])
df['description'] = fast_clean(df['description'])

log_time("✅ Text normalization", start)


# 5. Vectorize and Compare

start = time.time()
logging.info("📊 Vectorizing and computing similarities...")

vectorizer = HashingVectorizer(
    stop_words='english',
    n_features=2**10,
    alternate_sign=False,
    norm='l2'
)

name_vecs = vectorizer.transform(df['product_name'])
desc_vecs = vectorizer.transform(df['description'])

similarities = (name_vecs.multiply(desc_vecs)).sum(axis=1).A1
df['similarity'] = similarities

df.loc[df['similarity'] == 0.0, 'description'] = df.loc[df['similarity'] == 0.0, 'product_name']
df.drop(columns=['similarity'], inplace=True)

log_time("✅ Similarity vectorization", start)


# 6. Save Output

start = time.time()
logging.info("💾 Saving final CSV...")

df.to_csv('transformed_data.csv', index=False)

log_time("✅ CSV saved to 'transformed_data.csv'", start)
logging.info("🎉 All steps completed successfully!")

[15:48:28] INFO: 🔍 Reading CSV in chunks...
C:\Users\akshaysrivastava\AppData\Local\Temp\ipykernel_4348\2674270583.py:39: DtypeWarning: Columns (0,6,7,8,10,17,19,20,21,25,28,30,33) have mixed types. Specify dtype option on import or set low_memory=False.
  for i, chunk in enumerate(chunks):
[15:48:30] INFO: 📦 Processing chunk 1
[15:48:30] INFO: ⚠️  Found 3 suspicious rows.
[15:48:32] INFO: 📦 Processing chunk 2
[15:48:32] INFO: ⚠️  Found 0 suspicious rows.
[15:48:34] INFO: 📦 Processing chunk 3
[15:48:35] INFO: ⚠️  Found 0 suspicious rows.
[15:48:37] INFO: 📦 Processing chunk 4
[15:48:37] INFO: ⚠️  Found 0 suspicious rows.
[15:48:39] INFO: 📦 Processing chunk 5
[15:48:39] INFO: ⚠️  Found 0 suspicious rows.
[15:48:41] INFO: 📦 Processing chunk 6
[15:48:42] INFO: ⚠️  Found 0 suspicious rows.
[15:48:43] INFO: 📦 Processing chunk 7
[15:48:44] INFO: ⚠️  Found 0 suspicious rows.
[15:48:46] INFO: 📦 Processing chunk 8
[15:48:46] INFO: ⚠️  Found 0 suspicious rows.
[15:48:48] INFO: 📦 Processing chunk 9
[15:48:48] INFO: ⚠️  Found 0 suspicious rows.
[15:48:50] INFO: 📦 Processing chunk 10
[15:48:50] INFO: ⚠️  Found 0 suspicious rows.
[15:48:52] INFO: 📦 Processing chunk 11
[15:48:53] INFO: ⚠️  Found 0 suspicious rows.
[15:48:55] INFO: 📦 Processing chunk 12
[15:48:55] INFO: ⚠️  Found 0 suspicious rows.
[15:48:57] INFO: 📦 Processing chunk 13
[15:48:57] INFO: ⚠️  Found 0 suspicious rows.
[15:48:59] INFO: 📦 Processing chunk 14
[15:49:00] INFO: ⚠️  Found 0 suspicious rows.
[15:49:02] INFO: 📦 Processing chunk 15
[15:49:02] INFO: ⚠️  Found 0 suspicious rows.
[15:49:04] INFO: 📦 Processing chunk 16
[15:49:04] INFO: ⚠️  Found 0 suspicious rows.
[15:49:06] INFO: 📦 Processing chunk 17
[15:49:07] INFO: ⚠️  Found 0 suspicious rows.
[15:49:09] INFO: 📦 Processing chunk 18
[15:49:09] INFO: ⚠️  Found 0 suspicious rows.
[15:49:11] INFO: 📦 Processing chunk 19
[15:49:11] INFO: ⚠️  Found 0 suspicious rows.
[15:49:13] INFO: 📦 Processing chunk 20
[15:49:14] INFO: ⚠️  Found 0 suspicious rows.
[15:49:14] INFO: 📦 Processing chunk 21
[15:49:14] INFO: ⚠️  Found 0 suspicious rows.
[15:49:15] INFO: ✅ CSV loading and filtering — completed in 47.01 seconds
[15:49:15] INFO: 🧹 Starting basic cleanup...
[15:49:19] INFO: ✅ Basic cleanup — completed in 4.65 seconds
[15:49:19] INFO: 🧼 Cleaning descriptions in parallel...
c:\Users\akshaysrivastava\Desktop\tyroo\.venv\lib\site-packages\tqdm\auto.py:21: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm
Pandas Apply: 100%|██████████| 1000000/1000000 [00:34<00:00, 28860.49it/s]
[15:49:55] INFO: ✅ Description cleaning — completed in 35.41 seconds
[15:49:55] INFO: 🔠 Normalizing text fields...
[15:50:40] INFO: ✅ Text normalization — completed in 45.48 seconds
[15:50:40] INFO: 📊 Vectorizing and computing similarities...
[15:51:40] INFO: ✅ Similarity vectorization — completed in 59.99 seconds
[15:51:40] INFO: 💾 Saving final CSV...
[15:52:48] INFO: ✅ CSV saved to 'transformed_data.csv' — completed in 68.24 seconds
[15:52:48] INFO: 🎉 All steps completed successfully!

In [ ]:
import pandas as pd
import numpy as np
import re
import os
import logging
import time
from sklearn.feature_extraction.text import HashingVectorizer
import swifter


# Logging Configuration

logging.basicConfig(
    level=logging.INFO,
    format='[%(asctime)s] %(levelname)s: %(message)s',
    datefmt='%H:%M:%S'
)

def log_time(msg, start_time):
    elapsed = time.time() - start_time
    logging.info(f"{msg} — completed in {elapsed:.2f} seconds")


# 1. Chunked CSV Reading

start = time.time()
logging.info("🔍 Reading CSV in chunks...")
chunk_size = 50000
chunks = pd.read_csv("Tyroo-dummy-data.csv", chunksize=chunk_size)

def print_bad_rows(df):
    col_names = set(df.columns.astype(str))
    mask = df.astype(str).isin(col_names)
    bad_row_indices = mask.any(axis=1)
    logging.info(f"⚠️  Found {bad_row_indices.sum()} suspicious rows.")
    return bad_row_indices

df_list = []
for i, chunk in enumerate(chunks):
    logging.info(f"📦 Processing chunk {i + 1}")
    bad_row_indices = print_bad_rows(chunk)
    chunk = chunk[~bad_row_indices].reset_index(drop=True)
    df_list.append(chunk)

df = pd.concat(df_list, ignore_index=True)
log_time("✅ CSV loading and filtering", start)


# 2. Basic Data Cleanup

start = time.time()
logging.info("🧹 Starting basic cleanup...")

num_cols = [
    'platform_commission_rate', 'product_commission_rate',
    'bonus_commission_rate', 'promotion_price', 'current_price',
    'price', 'discount_percentage', 'number_of_reviews',
    'rating_avg_value', 'seller_rating'
]

df[num_cols] = df[num_cols].apply(pd.to_numeric, errors='coerce').fillna(0.0)

text_cols = [
    'venture_category3_name_en', 'venture_category2_name_en', 'venture_category1_name_en',
    'venture_category_name_local', 'brand_name', 'business_type', 'business_area',
    'product_name', 'seller_name'
]

df.fillna({
    'is_free_shipping': '0',
    'availability': 'out of stock',
    'deeplink': '',
    'product_url': '',
    'seller_url': '',
    'description': np.nan,
    **{col: 'Unknown' for col in text_cols}
}, inplace=True)

df['is_free_shipping'] = df['is_free_shipping'].astype(bool)
df['availability'] = df['availability'].map({'in stock': True, 'out of stock': False})

image_cols = [col for col in df.columns if 'img' in col or 'image_url' in col]
df[image_cols] = df[image_cols].fillna('')
df['description'] = df['description'].fillna(df['product_name'])

log_time("✅ Basic cleanup", start)


# 3. Clean Description

start = time.time()
logging.info("🧼 Cleaning descriptions with vectorized filter + swifter...")

# Vectorized junk description detection
junk_regex = r'^(&nbsp;)+$|^-+$|^\.{1,2}$|^welcome to my shop.*$|^www.*$|^$|^no description currently.*$|^_*$'
desc_str = df['description'].fillna('').str.strip().str.lower()
junk_mask = desc_str.str.match(junk_regex)

# Fast replace with product_name
df.loc[junk_mask, 'description'] = df.loc[junk_mask, 'product_name']

# Clean remaining descriptions
def clean_single_desc(row):
    desc = row['description']
    product_name = row['product_name']
    if pd.isna(desc):
        return product_name
    text = str(desc).strip().lower()
    text = re.sub(r'&[a-z]+;', '', text)
    text = re.sub(r'\s{2,}', ' ', text).strip()
    if len(text) < 10:
        return product_name
    return text

df['description'] = df.swifter.apply(clean_single_desc, axis=1)

log_time("✅ Description cleaning", start)


# 4. Text Normalization

start = time.time()
logging.info("🔠 Normalizing text fields...")

def fast_clean(series):
    return (
        series.fillna('')
              .str.encode('ascii', errors='ignore').str.decode('ascii')
              .str.replace(r'[^a-zA-Z0-9\s]', '', regex=True)
              .str.replace(r'\s+', ' ', regex=True)
              .str.strip()
              .str.lower()
    )

df['product_name'] = fast_clean(df['product_name'])
df['description'] = fast_clean(df['description'])

log_time("✅ Text normalization", start)


# 5. Vectorize and Compare

start = time.time()
logging.info("📊 Vectorizing and computing similarities...")

vectorizer = HashingVectorizer(
    stop_words='english',
    n_features=2**10,
    alternate_sign=False,
    norm='l2'
)

name_vecs = vectorizer.transform(df['product_name'])
desc_vecs = vectorizer.transform(df['description'])

similarities = (name_vecs.multiply(desc_vecs)).sum(axis=1).A1
df['similarity'] = similarities

df.loc[df['similarity'] == 0.0, 'description'] = df.loc[df['similarity'] == 0.0, 'product_name']
df.drop(columns=['similarity'], inplace=True)

log_time("✅ Similarity vectorization", start)


# 6. Save Output

import sqlite3

start = time.time()
logging.info("💾 Saving final DataFrame to SQLite...")

# Connect to (or create) SQLite DB
conn = sqlite3.connect("transformed_data.db")

# Save DataFrame to table
df.to_sql("products_cleaned", conn, if_exists="replace", index=False)

conn.close()
log_time("✅ Data saved to SQLite table 'products_cleaned'", start)

logging.info("🎉 All steps completed successfully!")

c:\Users\akshaysrivastava\Desktop\tyroo\.venv\lib\site-packages\tqdm\auto.py:21: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm
[16:01:46] INFO: 🔍 Reading CSV in chunks...
C:\Users\akshaysrivastava\AppData\Local\Temp\ipykernel_13724\2441894469.py:39: DtypeWarning: Columns (0,6,7,8,10,17,19,20,21,25,28,30,33) have mixed types. Specify dtype option on import or set low_memory=False.
  for i, chunk in enumerate(chunks):
[16:01:48] INFO: 📦 Processing chunk 1
[16:01:48] INFO: ⚠️  Found 3 suspicious rows.
[16:01:50] INFO: 📦 Processing chunk 2
[16:01:50] INFO: ⚠️  Found 0 suspicious rows.
[16:01:52] INFO: 📦 Processing chunk 3
[16:01:53] INFO: ⚠️  Found 0 suspicious rows.
[16:01:55] INFO: 📦 Processing chunk 4
[16:01:55] INFO: ⚠️  Found 0 suspicious rows.
[16:01:57] INFO: 📦 Processing chunk 5
[16:01:57] INFO: ⚠️  Found 0 suspicious rows.
[16:01:59] INFO: 📦 Processing chunk 6
[16:02:00] INFO: ⚠️  Found 0 suspicious rows.
[16:02:02] INFO: 📦 Processing chunk 7
[16:02:02] INFO: ⚠️  Found 0 suspicious rows.
[16:02:04] INFO: 📦 Processing chunk 8
[16:02:04] INFO: ⚠️  Found 0 suspicious rows.
[16:02:06] INFO: 📦 Processing chunk 9
[16:02:07] INFO: ⚠️  Found 0 suspicious rows.
[16:02:09] INFO: 📦 Processing chunk 10
[16:02:09] INFO: ⚠️  Found 0 suspicious rows.
[16:02:11] INFO: 📦 Processing chunk 11
[16:02:11] INFO: ⚠️  Found 0 suspicious rows.
[16:02:13] INFO: 📦 Processing chunk 12
[16:02:14] INFO: ⚠️  Found 0 suspicious rows.
[16:02:16] INFO: 📦 Processing chunk 13
[16:02:16] INFO: ⚠️  Found 0 suspicious rows.
[16:02:18] INFO: 📦 Processing chunk 14
[16:02:18] INFO: ⚠️  Found 0 suspicious rows.
[16:02:20] INFO: 📦 Processing chunk 15
[16:02:21] INFO: ⚠️  Found 0 suspicious rows.
[16:02:23] INFO: 📦 Processing chunk 16
[16:02:23] INFO: ⚠️  Found 0 suspicious rows.
[16:02:25] INFO: 📦 Processing chunk 17
[16:02:25] INFO: ⚠️  Found 0 suspicious rows.
[16:02:27] INFO: 📦 Processing chunk 18
[16:02:28] INFO: ⚠️  Found 0 suspicious rows.
[16:02:29] INFO: 📦 Processing chunk 19
[16:02:30] INFO: ⚠️  Found 0 suspicious rows.
[16:02:32] INFO: 📦 Processing chunk 20
[16:02:32] INFO: ⚠️  Found 0 suspicious rows.
[16:02:32] INFO: 📦 Processing chunk 21
[16:02:32] INFO: ⚠️  Found 0 suspicious rows.
[16:02:33] INFO: ✅ CSV loading and filtering — completed in 47.13 seconds
[16:02:33] INFO: 🧹 Starting basic cleanup...
[16:02:38] INFO: ✅ Basic cleanup — completed in 4.70 seconds
[16:02:38] INFO: 🧼 Cleaning descriptions with vectorized filter + swifter...
Pandas Apply: 100%|██████████| 1000000/1000000 [00:31<00:00, 31854.24it/s]
[16:03:14] INFO: ✅ Description cleaning — completed in 36.13 seconds
[16:03:14] INFO: 🔠 Normalizing text fields...
[16:04:00] INFO: ✅ Text normalization — completed in 45.95 seconds
[16:04:00] INFO: 📊 Vectorizing and computing similarities...
[16:05:00] INFO: ✅ Similarity vectorization — completed in 60.38 seconds
[16:05:00] INFO: 💾 Saving final DataFrame to SQLite...
[16:05:19] INFO: ✅ Data saved to SQLite table 'products_cleaned' — completed in 19.20 seconds
[16:05:19] INFO: 🎉 All steps completed successfully!

In [2]:
import sqlite3
import pandas as pd

# Connect to the SQLite database
conn = sqlite3.connect("transformed_data.db")

# Show all tables
tables = pd.read_sql_query("SELECT name FROM sqlite_master WHERE type='table';", conn)
print("Tables:", tables)

# Load table into DataFrame
df = pd.read_sql_query("SELECT * FROM products_cleaned LIMIT 5;", conn)
print("🔍 Sample rows:")
print(df)

# Get row count
row_count = pd.read_sql_query("SELECT COUNT(*) as count FROM products_cleaned;", conn)
print(f"📦 Total rows: {row_count['count'][0]}")

# Get column stats (for numeric columns)
stats = pd.read_sql_query("SELECT * FROM products_cleaned LIMIT 100000;", conn).describe()
print("📊 Basic stats:")
print(stats)

conn.close()

Tables:                name
0  products_cleaned
🔍 Sample rows:
   platform_commission_rate venture_category3_name_en  \
0                      0.07            Parts & Spares
1                      0.10                 Hair Care
2                      0.07               Electronics
3                      0.07        Disposable Napkins
4                      0.10           Serum & Essence

                                   product_small_img  \
0  https://my-live.slatic.net/p/98b201dcb23a6f15c...
1  https://my-live.slatic.net/p/90097ebc33ddd0641...
2  https://my-live.slatic.net/p/35c1806bcb2b6895f...
3  https://my-live.slatic.net/p/06e24c1ead0e47cb3...
4  https://my-live.slatic.net/p/e17a59e38fc2418f8...

                                            deeplink  availability  \
0  lazada://my/d?uri=https://www.lazada.com.my/pr...             1
1  lazada://my/d?uri=https://www.lazada.com.my/pr...             1
2  lazada://my/d?uri=https://www.lazada.com.my/pr...             1
3  lazada://my/d?uri=https://www.lazada.com.my/pr...             1
4  lazada://my/d?uri=https://www.lazada.com.my/pr...             1

                                         image_url_5  number_of_reviews  \
0                                                                  20.0
1  https://my-live.slatic.net/p/90ffe96b5f53d38cf...              115.0
2  https://my-live.slatic.net/p/bd0e9b3b7a0120bdf...              185.0
3  https://my-live.slatic.net/p/3b635d52337db761f...            33496.0
4  https://my-live.slatic.net/p/0c7fe68f5a8a9826d...            20378.0

   is_free_shipping  promotion_price venture_category2_name_en  ...  \
0                 1            16.74                Automotive  ...
1                 1            39.90             Personal Care  ...
2                 1           609.00                Automotive  ...
3                 1             0.00               Disposables  ...
4                 1             1.20                 Skin Care  ...

                                         image_url_2 discount_percentage  \
0  https://my-live.slatic.net/p/c14fc6fdbb240010a...                0.00
1  https://my-live.slatic.net/p/8f699d3a2f66b0e45...               73.40
2  https://my-live.slatic.net/p/76442e587a6b97ecf...               15.09
3  https://my-live.slatic.net/p/67e9321adc531ab01...               74.94
4  https://my-live.slatic.net/p/23e014dc5d2eb525d...               84.50

                           seller_name  \
0  Z ONE ACCESSORIES WAREHOUSE SDN BHD
1               OLAPLEX HAIRCARE Store
2                                70mai
3                                 OIGA
4                      YOUBUY-official

                                         product_url  product_id  \
0  https://www.lazada.com.my/products/myvi-viva-s...  1352896491
1  https://www.lazada.com.my/products/buy-one-get...  3856537822
2  https://www.lazada.com.my/products/70mai-s500-...  1353246653
3  https://www.lazada.com.my/products/tissues-pap...  3772733731
4  https://www.lazada.com.my/products/natural-alo...  3779627330

  venture_category_name_local rating_avg_value  \
0                       Clips         5.000000
1             Hair Treatments         4.930435
2               On-Dash Video         4.951351
3          Disposable Napkins         4.946322
4             Serum & Essence         4.944450

                                     product_big_img  \
0  https://my-live.slatic.net/p/98b201dcb23a6f15c...
1  https://my-live.slatic.net/p/90097ebc33ddd0641...
2  https://my-live.slatic.net/p/35c1806bcb2b6895f...
3  https://my-live.slatic.net/p/06e24c1ead0e47cb3...
4  https://my-live.slatic.net/p/e17a59e38fc2418f8...

                                         image_url_3   price
0                                                      17.00
1  https://my-live.slatic.net/p/140edb5b3b8d13009...  150.00
2  https://my-live.slatic.net/p/b397560f5f47697dd...  729.00
3  https://my-live.slatic.net/p/c03b8685d5e09ed9c...    4.23
4  https://my-live.slatic.net/p/32b53f4014ad9f679...    7.74

[5 rows x 34 columns]
📦 Total rows: 1000000
📊 Basic stats:
       platform_commission_rate  availability  number_of_reviews  \
count             100000.000000      100000.0      100000.000000
mean                   0.070310           1.0         515.729930
std                    0.047387           0.0        1919.790997
min                    0.000000           1.0           0.000000
25%                    0.025000           1.0          29.000000
50%                    0.070000           1.0         108.000000
75%                    0.100000           1.0         373.000000
max                    0.140000           1.0      148986.000000

       is_free_shipping  promotion_price  current_price  \
count     100000.000000    100000.000000   1.000000e+05
mean           0.163810       122.483297   2.724824e+02
std            0.370105      3205.040219   3.181533e+04
min            0.000000         0.000000   1.000000e-02
25%            0.000000         0.000000   1.150000e+01
50%            0.000000        12.520000   2.684500e+01
75%            0.000000        49.300000   8.000000e+01
max            1.000000    976899.020000   9.999999e+06

       product_commission_rate  seller_rating  bonus_commission_rate  \
count            100000.000000  100000.000000          100000.000000
mean                  0.113386      96.952300               0.043076
std                   0.055164       4.783224               0.032618
min                   0.000000       0.000000               0.000000
25%                   0.070000      96.000000               0.040000
50%                   0.110000      98.000000               0.040000
75%                   0.150000      99.000000               0.050000
max                   0.800000     100.000000               0.800000

       discount_percentage  rating_avg_value         price
count        100000.000000     100000.000000  1.000000e+05
mean             36.148314          4.820408  3.498680e+02
std              26.443598          0.650358  3.194022e+04
min               0.000000          0.000000  1.000000e-02
25%               8.000000          4.875000  2.000000e+01
50%              40.470000          4.937107  4.900000e+01
75%              57.620000          4.978495  1.390000e+02
max              99.970000          5.000000  9.999999e+06

In [4]:
#sqlite3 transformed_data.db

In [5]:
# .schema products_cleaned